@import "../_variables.scss";

.essential-tools {
    //margin: 20px 0;
    .checking-example {
        @media screen and (min-width: $mega-width) {
            width: 30vw;
        }
        width: 40vw;
        margin: 0 auto;
        background: #c7c6ff;
        border: 2px solid #4947ad;
        padding: 0;
        
        //padding: 5px 4px 20px 4px;
        & > * {
            width: 100%;
            padding: 3vw 0;
            display: block;
        }
        .app-title {
            font-size: 5vw;

            @media screen and (min-width: $mega-width) {
                font-size: 3vw;
            }
            background: white;
            font-weight: bold;
            border-bottom: 2px solid #4947ad;
        }
        .balance {
            font-weight: bold;
            font-size: 3.5vw;
            @media screen and (min-width: $mega-width) {
                font-size: 2vw;
            }
            button {
                font-size: 1.5em;
            }
            color: #ff4141;
            height: 20vw;
            line-height: 20vw;
        }
        .info {
            font-size: 3vw;
            @media screen and (min-width: $mega-width) {
                font-size: 1.75vw;
            }
            border-top: 2px solid #4947ad;
            background-color: white;
        }
    }
}
