#main-header {
  margin: 0 8vw;
  padding: 4vh 4vw;
  background-color: #68508e;
  background: linear-gradient(to right, #463660, #68508e, #463660);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 1.5em;
  overflow-x: auto;
  white-space: nowrap; }
  @media screen and (max-width: 640px) {
    #main-header {
      margin: 0;
      font-size: 1em;
      padding: 3vh 4vw;
      justify-content: space-around;
      white-space: initial; } }
  @media screen and (min-width: 1080px) {
    #main-header {
      font-size: 1.75em; } }
  #main-header *, #main-header a {
    color: white;
    padding: 0;
    margin: 0 2vw;
    font-size: 1em;
    text-decoration: none; }

.home-link {
  font-size: 40px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  user-select: none;
  text-shadow: 2px 2px 1px #000085; }
  .home-link .site-icon {
    text-shadow: 0 0 20px white;
    margin: 1vw !important;
    padding: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Droid';
  src: url("/fonts/droidSerifRegular.ttf");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: 'Droid';
  src: url("/fonts/droidSerifBold.ttf");
  font-weight: bold;
  font-display: swap; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 2vw;
  position: relative;
  font-family: 'Droid';
  background-color: white;
  color: black;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: visible;
  overflow-x: hidden;
  background-attachment: fixed;
  background-color: #fff7ee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d1d1ff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); }
  @media screen and (max-width: 640px) {
    body {
      font-size: 5vw; } }
  @media screen and (min-width: 1080px) {
    body {
      font-size: 1.25vw; } }

#next {
  display: block;
  width: 100%;
  height: 100%; }

#page {
  position: relative;
  text-align: center;
  margin: 4vh 8vw 0 8vw;
  padding: 5vh 10vw 5vh 10vw;
  background-color: white; }
  @media screen and (max-width: 640px) {
    #page {
      margin: 0;
      padding: 2vh 5vw; } }
  @media screen and (min-width: 640px) {
    #page {
      box-shadow: 0 0 10px #d1d1ff; } }
  #page > .title, #page > * > .title {
    text-shadow: #d1d1ff 1px 1px 7px;
    font-size: 2em; }
    @media screen and (max-width: 640px) {
      #page > .title, #page > * > .title {
        font-size: 1.5em; } }
  #page ol, #page ul {
    margin-bottom: 30px;
    margin-top: 30px; }
  #page h3 {
    font-size: 1.5em; }
  #page > h1, #page > h2, #page > h3, #page > h4, #page > h5, #page > h6 {
    margin: 20px auto; }
  #page .intro-card {
    display: block;
    text-align: center;
    font-style: italic;
    margin: 20px auto 35px auto;
    border-bottom: 5px solid #d1d1ff;
    border-radius: 10px; }
    #page .intro-card > *:not(.youtube-container) {
      display: block;
      width: 80%;
      min-width: 300px;
      border-radius: 10px;
      margin: 20px auto; }
    #page .intro-card a {
      display: inline; }
  #page a:visited, #page a:link {
    color: #000085; }
  #page .smaller-text {
    font-size: 0.75em; }
  #page p {
    margin: 20px 0; }
  #page .bold {
    font-weight: bold; }
  #page .underline {
    text-decoration: underline; }
  #page .italic {
    font-style: italic; }
  #page .toc {
    border-bottom: 8px solid #d1d1ff;
    border-radius: 10px;
    margin: 50px auto;
    font-size: 1.8em;
    list-style: none;
    display: table;
    counter-reset: toc-counter; }
    #page .toc.pages {
      font-size: 1.2em;
      list-style: disc; }
    @media screen and (max-width: 640px) {
      #page .toc {
        font-size: 1em !important; } }
    #page .toc > h2 {
      font-style: italic; }
    #page .toc li {
      list-style: none;
      margin: 10px 0;
      font-size: 1.4em;
      text-align: left;
      counter-increment: toc-counter;
      text-decoration: underline;
      text-decoration-color: #d1d1ff; }
      @media screen and (max-width: 640px) {
        #page .toc li {
          font-size: 5vw; } }
      @media screen and (min-width: 640px) {
        #page .toc li::before {
          content: "\2022";
          /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: #000085;
          /* Change the color */
          font-weight: bold;
          /* If you want it to be bold */
          display: inline-block;
          /* Needed to add space between the bullet and the text */
          width: 1em;
          /* Also needed for space (tweak if needed) */
          margin-left: -1em;
          /* Also needed for space (tweak if needed) */ } }
    #page .toc.sections li::before {
      margin-right: 10px;
      content: counter(toc-counter) " ";
      color: #000085;
      font-weight: bold;
      text-shadow: 3px 2px 5px #d1d1ff; }

a {
  color: #a25600; }

li a {
  text-decoration: none; }

.next {
  display: inline-block;
  border: 4px solid #d1d1ff;
  border-width: 0 4px;
  border-radius: 8px;
  padding: 1vw 2vw;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin: 40px 0 20px auto; }

.sandbox {
  margin: 2vw auto 4vw auto;
  padding: 1vw;
  display: block;
  overflow: hidden;
  border-radius: 1vw;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 400px;
  transform: none; }
  @media screen and (max-width: 640px) {
    .sandbox {
      margin-left: -5vw; } }
  .sandbox .icon {
    font-size: 40px;
    position: absolute;
    top: 0%;
    user-select: none;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.5s ease; }
    .sandbox .icon.play {
      left: 4%; }
    .sandbox .icon.reset {
      right: 4%; }
    .sandbox .icon:active {
      color: white;
      transition: none; }
  @media screen and (max-width: 640px) {
    .sandbox {
      width: 90vw;
      font-size: 0.7em; } }
  .sandbox.short {
    height: 20vh;
    min-height: 250px; }
  .sandbox.mini {
    height: 12vh;
    min-height: 150px; }
  .sandbox > * {
    display: block; }
  .sandbox > * > * {
    display: inline-block;
    width: 50%;
    height: 100%; }
  .sandbox .main-title {
    position: relative;
    font-size: 1.5em !important;
    height: 50px;
    line-height: 50px;
    background-color: #202020;
    color: #39ff14; }
  .sandbox .titles {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    position: relative; }
  .sandbox .inner {
    width: 100%;
    height: calc(100% - 100px);
    position: relative; }
    .sandbox .inner > * {
      position: absolute;
      top: 0;
      left: 0; }
      .sandbox .inner > *:nth-child(2) {
        left: 50%; }
  .sandbox .output:not(.valid) {
    background-color: #202020;
    padding: 20px;
    width: calc(50% - 40px);
    height: calc(100% - 40px); }
  .sandbox .output.error {
    color: #ff0068; }

.essential-tools .checking-example {
  width: 40vw;
  margin: 0 auto;
  background: #c7c6ff;
  border: 2px solid #4947ad;
  padding: 0; }
  @media screen and (min-width: 1080px) {
    .essential-tools .checking-example {
      width: 30vw; } }
  .essential-tools .checking-example > * {
    width: 100%;
    padding: 3vw 0;
    display: block; }
  .essential-tools .checking-example .app-title {
    font-size: 5vw;
    background: white;
    font-weight: bold;
    border-bottom: 2px solid #4947ad; }
    @media screen and (min-width: 1080px) {
      .essential-tools .checking-example .app-title {
        font-size: 3vw; } }
  .essential-tools .checking-example .balance {
    font-weight: bold;
    font-size: 3.5vw;
    color: #ff4141;
    height: 20vw;
    line-height: 20vw; }
    @media screen and (min-width: 1080px) {
      .essential-tools .checking-example .balance {
        font-size: 2vw; } }
    .essential-tools .checking-example .balance button {
      font-size: 1.5em; }
  .essential-tools .checking-example .info {
    font-size: 3vw;
    border-top: 2px solid #4947ad;
    background-color: white; }
    @media screen and (min-width: 1080px) {
      .essential-tools .checking-example .info {
        font-size: 1.75vw; } }

.primitives .primitives-list {
  margin: 20px auto;
  list-style: none;
  display: table;
  counter-reset: primitives-counter; }
  .primitives .primitives-list > h2 {
    font-style: italic; }
  .primitives .primitives-list li {
    margin: 10px 0;
    font-size: 1.4em;
    text-align: left;
    counter-increment: primitives-counter; }
  .primitives .primitives-list li::before {
    margin-right: 10px;
    content: counter(primitives-counter) ". ";
    color: #000085;
    font-weight: bold; }

.boolean-game {
  position: relative;
  width: 60vw;
  border: 2px solid #ec7eff;
  padding: 10px 0 0 0;
  margin: 0 auto;
  background-color: #faddff; }
  @media screen and (max-width: 640px) {
    .boolean-game {
      width: 80vw; } }
  .boolean-game .jserror {
    color: #f00;
    margin: 20px;
    outline: 2px solid #f00;
    font-size: 2em;
    padding: 20px;
    display: inline-block; }
  .boolean-game .result {
    margin: 20px auto;
    display: block;
    font-size: 35px;
    font-weight: bold; }
    .boolean-game .result.won {
      color: #00807b; }
    .boolean-game .result.lost {
      color: #ff0068; }
  .boolean-game .replay {
    margin: 2vw auto;
    display: block;
    font-size: 25px;
    background-color: white;
    border-color: black;
    padding: 2vw 3vw;
    border-radius: 2vw;
    box-shadow: 0 0 8px #effffa; }
  .boolean-game .board {
    user-select: none;
    box-shadow: 0 0 10px #00000069;
    border-radius: 20px;
    border: 2px solid #ec7eff;
    margin: 10px auto;
    width: 50vw;
    height: 50vw;
    position: relative;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 640px) {
      .boolean-game .board {
        width: 70vw;
        height: 70vw; } }
    .boolean-game .board .cell {
      overflow: hidden;
      position: relative;
      border: 2px solid #0000008a;
      box-sizing: border-box;
      transition: border-color 0.5s ease;
      cursor: pointer; }
      .boolean-game .board .cell.failed {
        border-color: red !important;
        filter: none !important;
        background-color: #ff6666 !important; }
      .boolean-game .board .cell .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7vw; }
      .boolean-game .board .cell:not(disabled):hover {
        border-color: white;
        transition: none; }
      .boolean-game .board .cell:not(disabled):active {
        filter: brightness(85%); }
      .boolean-game .board .cell[disabled] {
        filter: brightness(50%); }
      .boolean-game .board .cell[horizontal="left"][vertical="top"] {
        border-top-left-radius: 10px; }
      .boolean-game .board .cell[horizontal="left"][vertical="bottom"] {
        border-bottom-left-radius: 10px; }
      .boolean-game .board .cell[horizontal="right"][vertical="bottom"] {
        border-bottom-right-radius: 10px; }
      .boolean-game .board .cell[horizontal="right"][vertical="top"] {
        border-top-right-radius: 10px; }

.vision-intro > .title, .vision-intro > h2 {
  text-align: center; }

.youtube-container {
  position: relative;
  width: 80%;
  margin: 20px auto;
  height: 0;
  padding-bottom: 56.25%; }
  @media screen and (max-width: 640px) {
    .youtube-container {
      width: 100%; } }
  .youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.home {
  text-align: center; }
  .home > * {
    margin: 20px 0; }
  .home > .extras > * {
    display: inline-block;
    margin: 0 20px; }

#resources {
  padding: 20px; }
  #resources > h2 {
    margin-bottom: 30px; }
  #resources .resources {
    border: 10px solid #5a467b;
    margin: 20px 0;
    padding: 10px; }
    #resources .resources tr:not(:last-child) td {
      border-bottom: 2px solid #5a467b; }
    #resources .resources td {
      padding: 20px 0; }

.boolean-ops {
  border-collapse: collapse;
  border-spacing: 0;
  border: 20px groove #5a457b;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table !important;
  background-color: white; }
  @media screen and (max-width: 640px) {
    .boolean-ops {
      border-width: 5px; } }
  .boolean-ops td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    background: linear-gradient(to top, #e4deee, transparent); }
    .boolean-ops td:not(:last-child) {
      border-right-style: dashed; }
    .boolean-ops td:not(:first-child) {
      border-left-width: 0; }
  .boolean-ops th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal; }
    .boolean-ops th:first-child {
      filter: opacity(0); }
  .boolean-ops .table-member {
    border-color: #000000;
    vertical-align: top; }

