@import "variables";

* {
    margin: 0;
    padding: 0;
}

.page {
    .icon {
        user-select: none;
    }
    
    a {
        //color: $highlight-dark;
    }
    .introCard {
        max-width: calc(50vh + 20vw + 200px);
        display: block;
        text-align: center;
        font-style: italic;
        margin: 20px auto 35px auto;
        border-bottom: 5px solid $accent;
        border-radius: 10px;
        & > *:not(.youtube-container) {
            display: block;
            width: 80%;
            min-width: 300px;
            border-radius: 10px;
            margin: 20px auto;
        }
        a {
            display: inline;
        }
    }
    a:visited, a:link {
        color: $accent-dark;
    }
    
    .smallerText {
        font-size: 0.75em;
        @media screen and (max-width: $mini-width) {
            font-size: 1em;
        }
    }
    p {
        margin: 20px 0;
    }
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
    .italic {
        font-style: italic;
    }
    ol, ul {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    h3 {
        font-size: 1.5em;
    }
    
    
    .toc {
        font-family: 'Droid';
        border-bottom: 8px solid $accent;
        border-radius: 10px;
        margin: 0 auto 50px auto;
        //font-size: 1.8em; // TODO: Remove this? the font is way too big on desktop for some reason
        &.pages {
            font-size: 1.2em;
            list-style: disc;
        }
    }
}
.next {
    font-family: 'Droid';
    display: block;
    border: 4px solid $accent;
    border-width: 0 4px;
    border-radius: 8px;
    padding: 1vw 2vw;
    font-size: 2em;
    font-weight: bold;
    //white-space: nowrap;
    text-align: center;
    width: fit-content;
    margin: 40px auto 20px auto;
}
#next {
    display: block;
}
html {
   height: 100vh;
   width: 100vw;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid';
}
h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 15px 0;
}
table th {
    font-family: 'Droid';
}

body {
    &.disabled {
        overflow: hidden;
    }
    @media screen and (max-width: $mini-width) {
        font-size: 5vw;
    }
    @media screen and (min-width: $mega-width) {
        font-size: 1.25vw;
    }
    
    @media screen and (min-width: $mini-width) {
        //background-image: url('/images/site-background.svg');
    }
    font-size: 2vw;
    position: relative;
    color: $foreground;
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: visible;
    overflow-x: hidden;
    //background-color: $background;
    // background-attachment: fixed;
    // background-color: $highlight;
    // background-color: #fff7ee;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2368508e' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d1d1ff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

table {
    width: 100%;
    margin: 40px 0;
    border-spacing: 0;
    border: 20px groove #5a457b;
    @media screen and (max-width: $mini-width) {
        border-width: 5px;
    } 
    thead th {
        padding: 10px 20px;
        background-color: darken(desaturate($accent, 50%), 30%);
        background: linear-gradient(to top, #3f3f7a, #4b4b8fb8);
        color: $background;
    }
    text-align: center;
    display: table;
    background-color: $background;
    tr:not(:last-child) {
        td {
            border-bottom-width: 1px;
        }
    }
    td {
        
        padding: 20px;
        border-color: #5a467b;
        border-style: solid;
        border-width: 0;
        font-family:Arial, sans-serif;
        overflow:hidden;
        word-break:normal;
        background: linear-gradient(to top, #e4deee, #fcfaff);
        &:not(:first-child) {
            border-left-width: 0;
        }
    }
}

.emojiButton {
    &:hover {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.466));
        transition: none;
    }
    transition: filter 0.2s ease-out;
    cursor: pointer;
    background: none;
    border: none;
}

.grayscale {
    filter: grayscale(100%);
}