$accent: #d1d1ff;
$accent-light: #e4e4ff;
$accent-dark: darken($accent, 65%);
$highlight: #0069ed;
$highlight-light: #e1efff;
$highlight-dark: darken($highlight, 65%);
$background: white;
$foreground: black;
$mini-width: 640px;
$mega-width: 1080px;