@import "variables.scss";


.sandbox {
    .icon {
    }
    margin: 25px 0 25px 0;
    padding: 1vw;
    display: inline-block;
    word-wrap: break-word;
    // height: fit-content;
    // min-height: fit-content;
    border-radius: 1vw;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $foreground !important;
    color: $background;
    position: relative;
    width: 100%;
    transform: none;
    overflow: none;
    .settings {
        .autoPlay {
            input {
                width: 0.5em;
                height: 0.5em;
            }
        }
    }
    .aceEditor {
        width: 100% !important;
        min-height: '50px';
        font-size: 1em !important;
        position: relative !important;
        display: inline-block;
        min-height: 90px;
    }
    & > .popup {
        overflow: auto;
        padding-top: 5vh;
        position: absolute;
        top: 0;
        height: calc(100% - 5vh);
        left: 0;
        align-items:center;
        & > * {
            display: block;
        }
        a {
            text-shadow: none;
        }
        & > .close {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;
            text-shadow: none;
            //filter: grayscale(100%);
        }
        z-index: 100;
        // height: 100%;
        width: 100%;
        text-shadow: 0px 0px 5px $foreground;
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.91);
    }
    @media screen and (max-width: $mini-width) {
        width: 90vw;
        font-size: 0.7em;
    }
    &.short {
        // height: 20vh;
        // min-height: 250px;
    }
    &.mini {
        // height: 12vh;
        // min-height: 150px;
    }
    & > * {
        display: block;
    }
    & > .titles > * {
        display: inline-block;
        width: 50%;
        //height: 100%;
    }
    .mainTitle {
        .mode {
            margin-left: auto;
            margin-right: auto;
        }
        .upload {
            position: relative;
            input {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
            }
        }
        .icon {
            &:first-child{
                margin-right: 20px;
            }
            &:not(:first-child) {
                margin-left: 20px;
            }
            cursor: pointer;
            &:hover {
                text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.418);
                transition: text-shadow 0.15s linear;
                filter: none;
            }
            // @media (hover: hover) {
            //     filter: grayscale(100%);
            // }
            &:active {
                text-shadow: 1px 2px 5px #39ff14;
                transition: none;
            }
            transition: none;
            //font-size: 40px; // Why was this here?
            //position: absolute;
            top: 0%;
            //transform: translateY(-50%);
            display: inline-block;
            //width: fit-content !important;
            // width: 50px;
            // height: 50px;
            width: auto;
            height: 1em;
            line-height: 50px;
            cursor: pointer;
            transition: color 0.5s ease;
        }
        padding: 5px 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1.5em !important;
        background-color: #202020;
        color: #39ff14;
    }
    .titles {
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .section {
        width: 100%;
        // width: 50%;
        // max-width: 100%;
        & > * {
            display: block;
            width: 100%;
        }
        padding-bottom: 20px;
    }
    & > .inner {
        //overflow: hidden;
        display: flex;
        justify-content: stretch;
        width: 100%;
        position: relative;
        @media screen and (max-width: $mini-width) {
            flex-direction: column;
        }
        &.vertical {
            flex-direction: column;
        }
        // & > * {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     &:nth-child(2) {
        //         left: 50%;
        //     }
        // }
    }
    .outputSpan {
        //width: 100%;
        // &:not(.valid) {
        //     background-color: #202020;
        // //height: calc(100% - 40px);
        // }
        &.error {
            color: #ff0068;
        }
    }
}