@import "variables.scss";

.main-header {
    align-items: center;
    .resources {
        margin-left: auto;
        padding-left: 0.5em;
        @media screen and (max-width: $mini-width) {
            display: none;
        }
    }
    .settings {
        margin: 20px;
        @media screen and (max-width: $mini-width) {
            margin-left: auto;
        }
    }
    .siteTitle {
        margin-right: auto;
    }
    .homeLink {
        color: #0069ed;
        text-align: center;
        display: flex;
        text-decoration: none;
        user-select: none;
        margin-right: 0;
        //position: fixed;
        //text-shadow: 2px 2px 1px $accent-dark;
    }
    .siteIcon {
        user-select: none;
        // @media screen and (max-width: $mini-width) {
        //     display: none;
        // }
        //filter: drop-shadow(0 0  4px #004193);
        height: 2em;
        text-shadow: 0 0 20px $background;
        margin-left: 0;
        // &:hover {
        //     transform: rotateY(360);
        //     transition: transform 0.4s linear;
        // }
        // transform: none;
        // transition: none;
        //margin: 0 10px;
        // image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        // image-rendering: -moz-crisp-edges;          /* Firefox                        */
        // image-rendering: -o-crisp-edges;            /* Opera                          */
        // image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        // image-rendering: pixelated; /* Chrome */
        // image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        // -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }
    @media screen and (max-width: $mini-width) {
        margin: 0;
        font-size: 1.5em;
        padding: 3vh 4vw;
        //justify-content: space-around;
        white-space: initial;
    }
    @media screen and (min-width: $mega-width) {
        font-size: 2.75em;
    }
    //color: white;
    max-width: 92vw;
    width: 92vw;
    padding: 1vh 4vw;
    border-bottom: 2px solid #68508e;
    //border-radius: 20px;
    //background: linear-gradient(to right, rgb(70, 54, 96), rgb(104, 80, 142), rgb(70, 54, 96));
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
    white-space: nowrap;
    // & > * {
    //     padding: 0 20px;
    //     @media screen and (max-width: $mini-width) {
    //         padding: 0 5px;
    //     }
    //     @media screen and (min-width: $mega-width) {
    //         padding: 0 20px;
    //     }
    // }
    & > * {
        margin: 20px;
        @media screen and (max-width: $mini-width) {
            margin: 5px;
        }
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        //margin: 0 !important;
        //margin: 0 2vw;
        font-size: inherit;
        text-decoration: none;
    }
}