@import "variables.scss";

.main-header {
    align-items: center;
    width: 92vw;
    padding: 1vh 4vw;
    border-bottom: 2px solid $accent-dark;//#68508e;
    background-color: $background;
    //border-radius: 20px;
    //background: linear-gradient(to right, rgb(70, 54, 96), rgb(104, 80, 142), rgb(70, 54, 96));
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    overflow-y: visible;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    .navigation {
        .navToggle {
            background: none;
            border: none;
            cursor: pointer;
            // border-radius: 100vw;
            // background-color: #d1d1ff;
            // padding: 10px;
            // @media screen and (max-width: $mini-width) {
            //     padding: 5px 2px;
            // }
        }
        &:hover ul {
            // transition: opacity 0.2s linear;
            // opacity: 1;
            display: initial;
        }
        & > svg {
            @media screen and (max-width: $mini-width) {
              font-size: 1.5em;
            }
            cursor: pointer;
        }
        ul {
            @media screen and (max-width: $mini-width) {
                font-size: 1.3em;
            }
            color: $highlight;
            transition: right 0.2s linear;
            //opacity: 0;
            //display: none;
            border-left: 8px solid $accent-dark;
            z-index: 100;
            background-color: white;
            list-style: none;
            position: absolute;
            top: 100%;
            right: 0;
            display: none;
            border-bottom: 6px solid #68508e;
            border-bottom-left-radius: 10px;
            li {
                padding: 20px 40px;
                &:not(:last-child) {
                    border-bottom: 4px solid #68508e;
                }
                a {
                    color: $highlight;
                    text-decoration: none;
                }
                .githubIcon {
                    padding-right: 20px;
                    color: black;
                }
            }
        }
    }
    .resources {
        // margin-left: auto;
        // padding-left: 0.5em;
        // @media screen and (max-width: $mini-width) {
        //     display: none;
        // }
    }
    .settings {
        margin: 20px;
        @media screen and (max-width: $mini-width) {
            margin-left: auto;
        }
    }
    .siteTitle {
        margin-right: auto;
    }
    .homeLink {
        color: $highlight;
        text-align: center;
        display: flex;
        text-decoration: none;
        user-select: none;
        //position: fixed;
        //text-shadow: 2px 2px 1px $accent-dark;
    }
    .siteIcon {
        img {
            margin-left: 10px;
            user-select: none;
            height: 0.7em;
            width: 1em;
            @media screen and (max-width: $mini-width) {
                height: 1em;
                width: 1.25em;
            }
            text-shadow: 0 0 20px $background;
        }
    }
    @media screen and (max-width: $mini-width) {
        margin: 0;
        font-size: 1.5em;
        padding: 3vh 4vw;
        //justify-content: space-around;
        white-space: initial;
    }
    @media screen and (min-width: $mega-width) {
        //font-size: 2.75em;
    }
    //color: white;
    @media screen and (max-width: $mini-width) {
        padding: 1vh 0;
        width: 100vw;
    }
    & > * {
        margin: 20px;
        @media screen and (max-width: $mini-width) {
            margin: 5px;
        }
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        //margin: 0 !important;
        //margin: 0 2vw;
        font-size: inherit;
        text-decoration: none;
    }
}