.games {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap
}

.game {
    margin: 40px 0;
    border: 2px solid #68508e;
    border-top-right-radius: 20px;
    padding: 20px 40px;
    min-width: fit-content;
    box-shadow: -3px 4px 6px #006bed30;
    //flex-basis: 100%;
    .description {}
    .title {
        margin-bottom: 0;
    }
    .play {
        font-size: 2.5em;
        color: #0069ed;
        cursor: pointer;
    }
    .source {
        margin-top: 10px;
        display: block;
    }
    .author {
        margin-top: 0;
    }
}