@import "variables";

.shareYourGame {
    border: 2px solid $highlight;
    padding: 10px 15px;
    border-width: 2px 0;
    margin-top: 30px;
    display: block;
}

.games {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap
}

.game {
    margin: 30px 20px;
    @media screen and (max-width: $mini-width) {
        margin: 20px;
    }
    border: 2px solid #68508e;
    border-top-right-radius: 20px;
    padding: 20px 40px;
    min-width: fit-content;
    box-shadow: -3px 4px 6px #006bed30;
    flex-grow: 1;
    //flex-basis: 100%;
    .description {
        font-style: italic;
    }
    .title {
        margin-bottom: 0;
    }
    .play {
        font-size: 2.5em;
        color: $highlight;
        cursor: pointer;
    }
    .source {
        margin-top: 10px;
        display: block;
    }
    .author {
        margin-top: 0;
    }
}