@import 'variables';

.settings-button {
    margin-left: auto;
}

.settings-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 50px 75px;
    @media screen and (max-width: $mini-width) { 
        padding: 40px;
    }
    h2 {
        font-size: 0.85em !important;
    }
    overflow: auto;
    // width: calc(80vw - 40px);
    // height: calc(100vh - 40px);
    background-color: white;
    border: 20px inset #0069ed;
    overflow: auto;
    .close {
        position: absolute;
        top: 2%;
        right: 0;
    }
    button {
        padding: 10px 20px;
        width: fit-content;
    }
    & > * {
        margin: 20px 0;
    }
}

.dom-blocker {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 0;
    margin: 0;
}