.congratulations {
    .dessert {
        font-size: 1.5em;
        display: block;
        margin-bottom: 15px;
    }
    margin: 80px 0 !important;
    font-size: 1.5em;
    border: 2px dashed #5a457b;
    background-color: #f5f2fa;
    padding: 50px;
    word-break: break-word;
}