@import "../pages/variables";

.boolean-ops {
  border-collapse:collapse;
  border-spacing:0;
  border: 20px groove #5a457b;
  @media screen and (max-width: $mini-width) {
    border-width: 5px;
  } 
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table !important;
  background-color: $background;
  td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    background: linear-gradient(to top, #e4deee, transparent);
    &:not(:last-child) {
      border-right-style: dashed;
    }
    &:not(:first-child) {
      border-left-width: 0;
    }
  }
  th{
    &:first-child {
      filter: opacity(0);
    }
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight: bold;
    overflow:hidden;
    padding:10px 5px;
    word-break: normal;
  }
  .table-member{
    border-color:#000000;
    vertical-align:top
  }
}