@import "../pages/_variables.scss";


.sandbox {
    margin: 2vw auto 4vw auto;
    padding: 1vw;
    display: block;
    overflow: hidden;
    border-radius: 1vw;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $foreground;
    color: $background;
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    transform: none;
    & > .share-popup {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        & > * {
            display: block;
        }
        a {
            text-shadow: none;
        }
        & > .close {
            cursor: pointer;
            top: 20px;
            right: 20px;
            text-shadow: none;
            position: absolute;
            //filter: grayscale(100%);
        }
        z-index: 100;
        height: 100%;
        width: 100%;
        text-shadow: 0px 0px 5px black;
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.856);
    }
    @media screen and (max-width: $mini-width) {
        width: 90vw;
        font-size: 0.7em;
    }
    &.short {
        height: 20vh;
        min-height: 250px;
    }
    &.mini {
        height: 12vh;
        min-height: 150px;
    }
    & > * {
        display: block;
    }
    & > .titles > * {
        display: inline-block;
        width: 50%;
        height: 100%;
    }
    .main-title {
        & > h2 {
            margin-left: auto;
            margin-right: auto;
        }
        & > .icon {
            &:hover {
                text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.418);
                transition: text-shadow 0.15s linear;
                filter: none;
            }
            // @media (hover: hover) {
            //     filter: grayscale(100%);
            // }
            &:active {
                text-shadow: 1px 2px 5px #39ff14;
                transition: none;
            }
            transition: none;
            font-size: 40px;
            //position: absolute;
            top: 0%;
            user-select: none;
            //transform: translateY(-50%);
            display: inline-block;
            //width: fit-content !important;
            // width: 50px;
            // height: 50px;
            width: auto;
            height: auto;
            line-height: 50px;
            cursor: pointer;
            transition: color 0.5s ease;
        }
        padding: 0 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1.5em !important;
        background-color: #202020;
        color: #39ff14;
    }
    .titles {
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    & > .inner {
        width: 100%;
        height: calc(100% - 100px);
        position: relative;
        & > * {
            position: absolute;
            top: 0;
            left: 0;
            &:nth-child(2) {
                left: 50%;
            }
        }
    }
    .output {
        &:not(.valid) {
            background-color: #202020;
        padding: 20px;
        width: calc(50% - 40px);
        height: calc(100% - 40px);
        }
        &.error {
            color: #ff0068;
        }
    }
}