@import "../pages/_variables.scss";


.sandbox {
    margin: 2vw auto 4vw auto;
    padding: 1vw;
    display: block;
    overflow: hidden;
    border-radius: 1vw;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $foreground;
    color: $background;
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    transform: none;
    @media screen and (max-width: $mini-width) {
        margin-left: -5vw;
      }
    .icon {
        &.play {
            left: 4%;
        }
        &.reset {
            right: 4%;
        }
        font-size: 40px;
        position: absolute;
        top: 0%;
        user-select: none;
        //transform: translateY(-50%);
        display: inline-block;
        //width: fit-content !important;
        // width: 50px;
        // height: 50px;
        width: auto;
        height: auto;
        line-height: 50px;
        cursor: pointer;
        transition: color 0.5s ease;
        &:active {
            color: white;
            transition: none;
        }
    }
    @media screen and (max-width: $mini-width) {
        width: 90vw;
        font-size: 0.7em;
    }
    &.short {
        height: 20vh;
        min-height: 250px;
    }
    & > * {
        display: block;
    }
    & > * > * {
        display: inline-block;
        width: 50%;
        height: 100%;
    }
    .main-title {
        position: relative;
        font-size: 1.5em !important;
        height: 50px;
        line-height: 50px;
        background-color: #202020;
        color: #39ff14;
    }
    .titles {
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .inner {
        width: 100%;
        height: calc(100% - 100px);
        position: relative;
        & > * {
            position: absolute;
            top: 0;
            left: 0;
            &:nth-child(2) {
                left: 50%;
            }
        }
    }
    .output {
        &:not(.valid) {
            background-color: #202020;
        padding: 20px;
        width: calc(50% - 40px);
        height: calc(100% - 40px);
        }
        &.error {
            color: #ff0068;
        }
    }
}