@import "../pages/_variables.scss";

.home-link {
    font-size: 40px;
    text-align: center;
    display: block;
    text-decoration: none;
    user-select: none;
    //position: fixed;
    text-shadow: 2px 3px 5px $accent-dark;
}