@import "../pages/_variables.scss";

.home-link {
    font-size: 40px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    user-select: none;
    //position: fixed;
    text-shadow: 2px 2px 1px $accent-dark;
}