@import "./_variables.scss";


.home {
    text-align: center;
    & > * {
        margin: 20px 0;
    }
    & > .extras {
        & > * {
            display: inline-block;
            margin: 0 20px;
        }
    }
    .resources {
        border: 2px solid black;
        padding: 20px;
        .resource-list {
            li {
                margin: 20px 0;
            }
        }
    }
}