@import "variables.scss";

.main-header {
    color: white;
    @media screen and (max-width: $mini-width) {
        margin: 0;
        font-size: 1em;
        padding: 3vh 4vw;
        justify-content: space-around;
        white-space: initial;
    }
    @media screen and (min-width: $mega-width) {
        font-size: 1.75em;
    }
    margin: 0 8vw;
    padding: 4vh 4vw;
    background-color: #68508e;
    background: linear-gradient(to right, rgb(70, 54, 96), rgb(104, 80, 142), rgb(70, 54, 96));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    overflow-x: auto;
    white-space: nowrap;
    *, a {
        color: inherit;
        padding: 0;
        margin: 0 2vw;
        font-size: 1em;
        text-decoration: none;
    }
}