@import "variables";

.home-link {
    text-align: center;
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
    user-select: none;
    //position: fixed;
    //text-shadow: 2px 2px 1px $accent-dark;
    .site-icon {
        @media screen and (max-width: $mini-width) {
            display: none;
        }
        //filter: drop-shadow(0 0  4px #004193);
        width: 1em;
        height: 1em;
        text-shadow: 0 0 20px $background;
        margin: 0 10px;
        padding: 0;
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }
}