.hover-definition {
    position: relative;
    color: #0069ed;
    font-weight: bold;
    text-decoration: underline;
}

.definition {
    &.up {
        transform: translateX(-50%);
        left: 50%;
        bottom: 100%;
    }
    &.bottom {
        transform: translateX(-50%);
        left: 50%;
        top: 100%;
    }
    &.left {
        right: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
    }
    &.right {
        left: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
    }
    text-decoration: none;
    color: #003b83;
    //white-space: nowrap;
    padding: 2px 10px;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    background-color: white;
    border: 1px solid #0069ed;
}