@import "variables";

.resources {
    // border: 2px solid $accent;
    // border-width: 2px 0;
    // border-radius: 4px;
    & > h2 {
        margin-bottom: 30px;
    }
    .resource-list {
        margin: 20px 0;
        //padding: 20px;
        // tr {
        //     &:not(:last-child) {
        //         td {
        //             border-bottom: 2px solid #5a467b;
        //         }
        //     }
        // }
        // td {
        //     padding: 20px 0;
        // }
    }
}